DATABASE_URL="file:../data/alphafooty.db"
NEXT_PUBLIC_APP_NAME="AlphaFooty Engine"
NEXT_PUBLIC_APP_URL="http://104.219.236.43:3080"
PORT=3080

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mail.niatechlimited.com
MAIL_PORT=587
MAIL_USERNAME=projects@niatechlimited.com
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=projects@niatechlimited.com
MAIL_FROM_NAME="Odds Analyer"
MAIL_TIMEOUT=15
ALERT_EMAIL=nathanielmwaipopo@gmail.com
